*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #43362F;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.header {
    background-image: url("./images/bread-background.jpeg");
    background-color: #C37D1C;
    margin-bottom: 1.5rem;
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: #71503D;
    text-align: right;
    padding: 1.5em;
    position: relative;
    z-index: 10;
}

.logo::before {
    content: "";
    height: 2em;
    width: 210px;
    background:#FFF;
    position: absolute;
    top: 1.1em;
    right: 47px;
    z-index: -10;
}

.food-item {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #B47328;
}

.item-img {
    width: 150px;
    margin-right: 1rem;
}

.item-name {
    font-size: 1.15em;
    margin-bottom: 0.5em;
}

.item-description {
    font-size: 0.9rem;
    margin-bottom: 0.5em;
}

.item-price {
    font-weight: 500;
}

.add-btn:hover,
.remove-btn:hover,
.order-btn:hover,
.modal-close-btn:hover {
    cursor: pointer;
}


.add-btn {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 9px;
    font-weight: 500;
    background: #B47328;
    color: white;
    border: none;
    border-radius: 40px;
    margin-left: 2rem;
    text-decoration: none;
}

.order-summary {
    text-align: center;
    padding: 0 1rem;
    margin-top: 4rem;
}

.order {
    margin-bottom: 1em;
}

.order-item,
.order-total {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.order-item-name {
    font-weight: 500;
    margin-right: 1em;
    margin-bottom: 1.25em;
}

.remove-btn {
    background: none;
    border: none;
    margin-right: auto;
}

.order-total {
    padding-top: 0.6em;
    border-top: 2px solid #43362F;
}

.order-total > h4,
.order-total > p {
    font-weight: 700;
}

.order-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-btn {
    width: 49%;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5em;
    font-weight: 500;
    background: #B47328;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.modal {
    display: none;
    width: 500px;
    height: 550px;
    background: #FFF;
    padding: 2.5rem;
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 100;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 1));
}

.modal-close-btn {
    display: block;
    margin-right: 0;
    margin-left: auto;
    border: none;
    background: none;
    color: #B47328;
    font-size: 1.5rem;
}


.modal > h2 {
    margin-top: 1em;
    padding-bottom: 1em;
    text-align: center
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.payment-form > input {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 1.2em 0.75em;
    margin-bottom: 1em;
    border: 1px solid #C37D1C;
    border-radius: 5px;
}

.modal-pay-btn {
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    font-weight: 500;
    background: #B47328;
    color: white;
    border: none;
    border-radius: 5px;
}

.modal-img {
    width: 100%;
}

.order-confirmation-modal {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.order-confirmation-modal > h2 {
    margin-top: 1em;
    margin-bottom: -1em;
}

.order-confirmation-modal > p {
    text-align: right;
    font-size: 1.25rem;
    font-weight: 700;
    color: #71503D;
    margin-bottom: -1.25em;
}

.footer {
    font-size: 0.8rem;
    text-align: right;
    margin-top: 2rem;
    padding: 1rem;
}

.footer > strong {
    font-size: 0.9rem;
    margin-left: 0.25em;
}


/* Mobile version */

@media (max-width: 450px) {
    .container {
        width: 100%;
    }

    .header {
        margin-bottom: 2rem;
    }
    
    .logo {
        text-align: center;
    }

    .logo::before {
        width: 210px;
        left: 90px;
    }

    .food-item {
        margin: 0 1.5em;
        padding-bottom: 2em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "  .  img    .  "
            "info info info"
            "  .   .   buy";
        }
    
    .item-img { 
        grid-area: img; 
        margin-bottom: 1em;
    }

    .add-btn { 
        grid-area: buy; 
        margin-top: -1em;
        padding: 0;
    }
    
    .item-info { 
        grid-area: info; 
        text-align: justify;
    }

    .item-price {
        margin-top: 0.75em;
    }

    .order-summary {
        padding: 0 2rem;
        margin-top: 4rem;
    }


    .order-item-name {
        text-align: left;
        font-weight: 500;
        margin-bottom: 1.25em;
    }

    .remove-btn {
        text-align: right;
        margin-right: 0;
        margin-left: auto;
    }

    .order-item > .item-price {
        text-align: left;
        margin-top: 0;
        margin-left: 2em;
    }

    .order-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
    }

    .modal {
        width: 320px;
        height: 500px;
        padding: 1.25em;
    }

    .modal > h2 {
        margin-top: 0.5em;
    }

    .modal-pay-btn {
        margin-top: 3em;
    }

}

